.item-status-filter-wrapper {
    display: inline;
    position: relative;
}

.btn-group {
    vertical-align: baseline;
    @media (max-width: 375px) {
        left: 40px;
    }
}

.progress-line {
    position: absolute;
    font-size: 18px;
    color: gray;
    bottom: 40px;
    left: 1vw;
}
